.list-card-title {
  font-weight: 400 !important;
}

.board-header {
    text-align: center;
    background-color: #205081;
    padding: 4px !important;
}

#header {
  background-color: #205081 !important;
}

.header-member {
  background: none !important;
}

.header-search {
  float: right !important;
  margin: 0 215px 0 0 !important;
}

.mod-left, .js-show-sidebar, .calendar-btn, .list-total, .header-logo, .js-boards-menu, .js-open-add-menu, #burndownLink, #scrumSettingsLink {
    display: none !important;
}

#board {
    background: #f5f5f5;
}

.list {
  background: none !important;
}

.list-header.editable {
    color: white;
    text-align: center;
    color: black;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #ccc;
}

.list-header.editable h2 {
    font-weight: 400;
}

.open-card-composer {
    text-align: center;
    font-weight: 100;
}

.list-card {
  border: 1px solid #ccc !important;
  border-radius: 0 !important;
  min-height: 80px !important;
  margin: -1px 0 0 0 !important;
  padding: 0 !important;
}

.list-cards:first-child {
  margin-top: 0;
}

.list-cards {
    background: #f5f5f5;
    margin: 0 !important;
    padding: 0 !important;
}

.list-card-details {
  border-left: 5px solid #bfe4ff;
  min-height: 80px !important;
}

.list-card-cover {
  display: none;
}

.list-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}

/* Modal */

.window-cover {
  display: none;
}

.window-header-inline-content {
  display: none;
}
